In [19]:
import pandas as pd

# Load the dataset we generated
df = pd.read_csv("data/tasks.csv")

# Quick look at the first few rows
df.head()

,task_id,task_length_minutes,priority,category,due_in_days,reminders_set,past_completion_rate,is_weekend,completed
0,1,107,low,personal,6,1,0.65,1,1
1,2,97,low,study,4,1,0.20,0,0
2,3,19,high,health,9,0,0.26,1,0
3,4,111,low,personal,13,1,0.91,1,1
4,5,76,high,health,13,0,0.26,1,0

## Inspecting dataset

In [12]:
print(df.shape)

(2000, 9)

In [13]:
# Check basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   task_id               2000 non-null   int64
 1   task_length_minutes   2000 non-null   int64
 2   priority              2000 non-null   object
 3   category              2000 non-null   object
 4   due_in_days           2000 non-null   int64
 5   reminders_set         2000 non-null   int64
 6   past_completion_rate  2000 non-null   float64
 7   is_weekend            2000 non-null   int64
 8   completed             2000 non-null   int64
dtypes: float64(1), int64(6), object(2)
memory usage: 140.8+ KB

In [14]:
# Statistics for numerical columns
df.describe()

,task_id,task_length_minutes,due_in_days,reminders_set,past_completion_rate,is_weekend,completed
count,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,91.35850,6.435500,0.500500,0.590045,0.513500,0.553000
std,577.494589,50.86046,4.014586,0.500125,0.229089,0.499943,0.497307
min,1.000000,5.00000,0.000000,0.000000,0.200000,0.000000,0.000000
25%,500.750000,47.00000,3.000000,0.000000,0.390000,0.000000,0.000000
50%,1000.500000,93.00000,6.000000,1.000000,0.580000,1.000000,1.000000
75%,1500.250000,135.00000,10.000000,1.000000,0.780000,1.000000,1.000000
max,2000.000000,179.00000,13.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
print(df.shape[1])
df.columns

9

Index(['task_id', 'task_length_minutes', 'priority', 'category', 'due_in_days',
       'reminders_set', 'past_completion_rate', 'is_weekend', 'completed'],
      dtype='object')

In [17]:
# Check the target balance
df['completed'].value_counts(normalize=True)

completed
1    0.553
0    0.447
Name: proportion, dtype: float64